*.pyc
.DS_Store
.vscode

/.project
/.pydevproject

__pycache__/

# checkpoint
checkpoints/

# For PyCharm users
.idea/

# Project specific
logs/
benchmarks/
experiment_results/
*.out
*.log

# computer canada
core.*
